.btn {
  padding: 1rem 2.25rem;
  color: $text-color;
  font-weight: $general-font-weight;
  line-height: 1;
  text-transform: uppercase;
  border: $border;
  border-radius: $border-radius;
  background-color: transparent;
  box-shadow: none;
}

.btn-try-again {
  padding: 2rem;
  border: $border;
  border-style: dashed;
  background-image: url("/decor-img/hand-with-cards.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@media (min-width: 900px) {
  .btn {
    font-size: 35px;
  }
}
