.main-footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $dark-bg;

  .main-footer__copyright {
    padding-left: 120px;
    .main-footer__link {
      @include link-style;
      color: $primary;
      font-size: 1.2rem;
    }
  }

  .shineEffect {
    bottom: 3rem;

    &--1 {
      left: 2rem;
    }

    &--2 {
      right: 2rem;
    }

    &--3 {
      left: 4rem;
      bottom: 8rem;
    }
  }
}
