@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-style {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

@mixin button-style {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin element-style ($width, $height, $color) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $color;
  box-sizing: border-box;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin trimEllipses($numLines: null) {
  @if $numLines != null {
    display:-webkit-box;
    -webkit-line-clamp:$numLines;
    -webkit-box-orient:vertical;
    overflow:hidden;
  }
  @else{
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display:block;
  }
}
